{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="KeySoft - Software Landing Page">
        <meta name="author" content="KeyDesign" />
        <!-- SITE TITLE -->
        <title>Gen Y Solutions - Custom Software Development</title>
        <!-- STYLESHEETS -->
        <link href="{% static 'genysolutions/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'genysolutions/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'genysolutions/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'genysolutions/css/responsive.css' %}" rel="stylesheet">
        <!-- DEMO COLORS  -->
        <link href="{% static 'genysolutions/css/colors/green.css' %}" class="css-color" rel="stylesheet">

        <!-- FAVICON  -->

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'genysolutions/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'genysolutions/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'genysolutions/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'genysolutions/favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'genysolutions/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'genysolutions/favicons/favicon.ico' %}">
        <meta name="theme-color" content="#ffffff">

        {% comment %}
        <link rel="shortcut icon" href="{% static 'genysolutions/img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'genysolutions/img/favicon.ico' %}" type="image/x-icon">
        {% endcomment %}

    </head>
    <body>
        <!-- PRELOADER -->
        <div id="preloader">
            <div class="spinner"></div>
        </div>

        {% block nav %}
        <!-- MAIN NAV -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- MAIN NAV LOGO -->
                    <a class="logo page-scroll" href="#header"><img src="{% static 'genysolutions/img/logo.png' %}" class="img-responsive" alt="" style="background-color:white;"></a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <!-- MAIN NAV LINKS -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                         <li>
                            <a class="page-scroll" href="#solutions">Solutions</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#pricing">Pricing</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#clients">Clients</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <!-- END MAIN NAV LINKS -->
                </div>
            </div>
        </nav>
        <!-- END MAIN NAV -->
        {% endblock %}

        {% block header %}
        <!-- HEADER -->
        <header id="header">
            <div class="container">
                <div class="intro-text">
                    <h1 class="intro-lead-in">Gen Y Solutions, blissful innovation</h1>
                    <span class="intro-heading">Next generation application & software development</span>
                    <div id="subscribe" class="header-buttons">
                     <form class="subscribe-form" action="https://formspree.io/hello@genysolutions.co" method="post">
                        <input type="email" id="sub-email" placeholder="Enter Your Email" name="_replyto"/>
                        <input type="hidden" name="_subject" value="New submission from Gen Y!" />
                        <button type="submit">Go</button>
                        <div id="subscribe-success"></div>
                    </form>
                    </div>

                </div>
            </div>
            <div id="particles-js"></div>
        </header>
        <!-- END HEADER -->
        {% endblock %}

        {% block services %}
        <!-- SERVICES -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <!-- SERVICES HEADING -->
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Services Reimagined</h2>
                        <span class="separator"></span>
                        <p class="section-subheading ">Simplify your life and let us take care of your needs.</p>
                    </div>
                    <!-- END SERVICES HEADING -->
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <i class="nc-icon-outline pc"></i>
                        <h4 class="service-heading">Websites</h4>
                        <p class="">HTML, CSS, and JS based websites for your custom needs. We also have premade templates for you to choose from.</p>
                    </div>
                    <div class="col-md-3">
                        <i class="nc-icon-outline keyboard"></i>
                        <h4 class="service-heading">Apps</h4>
                        <p class="">iPhone app? Android app? Don't worry we have you covered on both platforms. Our team of engineers can get started on any type of project.</p>
                    </div>
                    <div class="col-md-3">
                        <i class="nc-icon-outline sign"></i>
                        <h4 class="service-heading">UI/UX</h4>
                        <p class="">Key to a great looking app that your users will love is getting the UI/UX just right and we have your back.</p>
                    </div>
                    <div class="col-md-3 last">
                        <i class="nc-icon-outline board"></i>
                        <h4 class="service-heading">Custom Branding</h4>
                        <p class="">Our designers will work with you to deliver branding thats suited for what you're trying to convey.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SERVICES -->
        {% endblock %}

        {% block features %}
        <!-- FEATURES -->
        <section id="features" class="gray-bg">
            <div class="container">
                <div class="row">
                    <div id="features-tabs" class="features-tabs">
                        <!-- TAB 1 -->
                        <div id="features-tab1">
                            <div class="row">
                                <h2 class="section-heading">Managing tools</h2>
                                <p class="section-subheading ">Take advantage of media's most prominent business trend, and empowers your internal advertising teams.</p>
                            </div>
                            <ul>
                                <li>Professional and easy-to-use software </li>
                                <li>Setup and installations takes ten minutes</li>
                                <li>Perfect for any device with pixel-perfect design</li>
                                <li>It takes few minutes to setup</li>
                            </ul>
                            <a href="#" class="primary-button button-inverse">Get Desktop Version</a>
                            <img src="{% static 'genysolutions/img/mockups/tab1.png' %}" class="fadeRight animated" alt="">
                        </div>
                        <!-- END TAB 1 -->
                        <!-- TAB 2 -->
                        <div id="features-tab2">
                            <div class="row">
                                <h2 class="section-heading">Mobile Support</h2>
                                <p class="section-subheading ">Spend less time worrying about front-end and more focusing on your products and projects and plans.</p>
                            </div>
                            <ul>
                                <li>Professional and easy-to-use app </li>
                                <li>A better way to present your app</li>
                                <li>Now available on the App Store and Play Store!</li>
                                <li>It takes few minutes to setup</li>
                            </ul>
                            <a href="#" class="primary-button button-inverse">Get Mobile Version</a>
                            <img src="{% static 'genysolutions/img/mockups/tab2.png' %}" class="fadeRight animated" alt="">
                        </div>
                        <!-- END TAB 2 -->
                        <!-- TAB 3 -->
                        <div id="features-tab3">
                            <div class="row">
                                <h2 class="section-heading">Constant Updates</h2>
                                <p class="section-subheading ">Take advantage of media's most prominent business trend, and empowers your internal advertising teams.</p>
                            </div>
                            <ul>
                                <li>Professional tablet software & apps </li>
                                <li>Setup and installations takes up to twenty</li>
                                <li>A better way to present your app with KeySoft</li>
                                <li>It takes few minutes to setup the software</li>
                            </ul>
                            <a href="#" class="primary-button button-inverse">Get Tablet Version</a>
                            <img src="{% static 'genysolutions/img/mockups/tab3.png' %}" class="fadeRight animated" alt="">
                        </div>
                        <!-- END TAB 3 -->
                        <!-- FEATURES TABS -->
                        <ul class='tabs'>
                            <li class='tab col-md-4'><a href="#features-tab1"><span class="triangle"><span class="inner-triangle"></span></span>Desktop Version</a></li>
                            <li class='tab col-md-4'><a href="#features-tab2"><span class="triangle"><span class="inner-triangle"></span></span>Mobile Version</a></li>
                            <li class='tab col-md-4'><a href="#features-tab3"><span class="triangle"><span class="inner-triangle"></span></span>Tablet Version</a></li>
                        </ul>
                        <!-- END FEATURES TABS -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURES -->
        {% endblock %}

        {% block video %}
        <!-- VIDEO -->
        <section id="video" class="parallax">
            <div class="overlay parallax"></div>
            <div class="container">
                <div class="row">
                    <!-- VIDEO HEADING -->
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Checkout our video</h2>
                        <span class="separator"></span>
                        <p class="section-subheading ">See why you need an app today!</p>
                    </div>
                    <!-- END VIDEO HEADING -->
                </div>
                <div class="row">
                    <div class="video-container">                  
                        <a data-toggle="modal" data-target="#video-modal" data-backdrop="true">
                        <img src="{% static 'genysolutions/img/video/video.png' %}" class="video-image" alt="">
                        <span class="play-video"><span class="fa fa-play"></span></span></a>
                    </div>
                    {% block video-socials %}
                    <!-- VIDEO SOCIALS -->
                    <div class="video-socials">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                    </div>
                    <!-- END VIDEO SOCIALS -->
                    {% endblock %}
                </div>
            </div>
        </section>
        <!-- VIDEO POPUP -->
        <div class="modal fade video-modal" id="video-modal" role="dialog">
            <div class="modal-content">
                <div class="row">
                    <object width="712" height="400"><param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=BFIDJHtxp2g&start=0&end=104.71&cid=7929897"></param><embed src="http://swf.tubechop.com/tubechop.swf?vurl=BFIDJHtxp2g&start=0&end=104.71&cid=7929897" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>
                </div>
            </div>
        </div>
        <!-- END VIDEO POPUP -->
        <!-- END VIDEO -->
        {% endblock %}

        {% block solutions %}
        <!-- SOLUTIONS -->
        <section id="solutions" class="gray-bg">
            <div class="container">
                <div class="row">
                    <!-- SOLUTIONS HEADING -->
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Our core competencies</h2>
                        <span class="separator"></span>
                        <p class="section-subheading ">A few things we're good at</p>
                    </div>
                    <!-- END SOLUTIONS HEADING -->
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="chart" data-percent="100">100<span class="percent">%</span> </div>
                        <div class="chart-content">
                            <i class="nc-icon-outline suitcase"></i>
                            <h4 class="service-heading">iOS & Android development</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chart" data-percent="100">100<span class="percent">%</span></div>
                        <div class="chart-content">
                            <i class="nc-icon-outline chat"></i>
                            <h4 class="service-heading">Custom software engineering</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chart" data-percent="100">100<span class="percent">%</span></div>
                        <div class="chart-content">
                            <i class="nc-icon-outline world"></i>
                            <h4 class="service-heading">Brand development</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SOLUTIONS -->
        {% endblock %}

        {% block pricing %}
        <!-- PRICING TABLES -->
        <section id="pricing">
            <div class="container">
                <div class="row">
                    <!-- PRICING TABLES HEADING -->
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Our pricing</h2>
                        <span class="separator"></span>
                        <p class="section-subheading ">Our prices are below industry standard</p>
                    </div>
                    <!-- END PRICING TABLES HEADING -->
                </div>
                <div class="row outer-margin">
                    <!-- PRICING TABLE 1 -->

                    {% comment %}
                    <div class="col-md-4">
                        <div class="row pricing-title">BASIC</div>
                        <div class="row pricing">
                            <div class="col-lg-3 col-md-3 col-sm-3" >
                                <div class="row">
                                    <span class="pricing-price"><span class="currency">$</span>100</span>
                                    <span class="pricing-time">/mo</span>
                                    <div class="billing-time">billed annually</div>
                                </div>
                            </div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Email Support</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Custom Templates</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Progress Tracking</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Code Delivery</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Analytics</span></span></div>
                            <div class="pricing-row button-container">
                                <a class="page-scroll secondary-button secondary-button-inverse" href="#contact">Get Started</a>
                            </div>
                        </div>
                    </div>

                    {% endcomment %}

                    <!-- PRICING TABLE 2 -->
                    <div>
                        <div class="row pricing-title">Get in contact with one our professionals for pricing</div>
                        <div class="row pricing active">
                            <div class="col-lg-3 col-md-3 col-sm-3" >
                                <div class="row">
                                    <span class="pricing-price"><strike><span class="currency">$</span>5000</strike></span>
                                    {% comment %}
                                    <span class="pricing-time">/mo</span>
                                    {% endcomment %}
                                    <div class="billing-time">You'll receive your quote after reaching out to us</div>
                                </div>
                            </div>
                            <div class="pricing-row selected"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-plus"></i>Everything in BASIC, including:</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Your own personal account manager</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Unlimited Email, Chat & Social</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>24/7 support</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Custom brand design</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Custom software & app engineering</span></span></div>
                             <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Custom API intergrations</span></span></div>
                              <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Screenshot and App Store submissions</span></span></div>
                            <div class="pricing-row button-container">
                                <a class="page-scroll secondary-button" href="#contact">Get Started</a>
                            </div>
                        </div>
                    </div>

                    {% comment %}
                    <!-- PRICING TABLE 3 -->
                    <div class="col-md-4">
                        <div class="row pricing-title">PREMIUM</div>
                        <div class="row pricing">
                            <div class="col-lg-3 col-md-3 col-sm-3" >
                                <div class="row">
                                    <span class="pricing-price"><span class="currency">$</span>500</span>
                                    <span class="pricing-time">/mo</span>
                                    <div class="billing-time">billed annually</div>
                                </div>
                            </div>
                            <div class="pricing-row selected"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-plus"></i>Everything in STANDARD, including:</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Quality & Customer Experience </span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Dedicated account manager</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Power and Predictive Dialing</span></span></div>
                            <div class="pricing-row"><span class="pricing-value"><span class="pricing-option"><i class="fa fa-check"></i>Call center support</span></span></div>
                            <div class="pricing-row button-container">
                                <a class="page-scroll secondary-button secondary-button-inverse" href="#contact">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endcomment %}
        <!-- PRICING TABLES -->
        {% endblock %}

        {% block testimonials %}
        <!-- TESTIMONIALS -->
        <section id="testimonials" class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="slider">
                        <!-- TESTIMONIALS 1 -->
                        <div class="tt-content">
                            <h3><span class="tt-quote">“</span><span class="tt-quote tt-quote-right">”</span>Gen Y Solutions really helped all of us make collaboration a differentiating factor to help our company compete.</h3>
                            <div class="tt-container">
                                <h4 >Antony Casalena</h4>
                                <span class="content">Vice president, IQTeam</span>
                            </div>
                        </div>
                        <!-- TESTIMONIALS 2 -->
                        <div class="tt-content">
                            <h3 ><span class="tt-quote">“</span><span class="tt-quote tt-quote-right">”</span>Working with their team was a very smooth process and we were happy with the work they did.</h3>
                            <div class="tt-container">
                                <h4 >Matthew Wizon</h4>
                                <span class="content">CTO, Crew</span>
                            </div>
                        </div>
                        <!-- TESTIMONIALS 3 -->
                        <div class="tt-content">
                            <h3 ><span class="tt-quote">“</span><span class="tt-quote tt-quote-right">”</span>Gen Y Solutions was a great team to subcontract some of our extra work to. Will be working with them again.</h3>
                            <div class="tt-container">
                                <h4 >Drew Perry</h4>
                                <span class="content">President, iTexico</span>
                            </div>
                        </div>
                    </div>
                    {% block testimonials-images %}
                    <!-- TESTIMONIALS IMAGE CAPTIONS -->
                    <div class="tt-images">
                        <div class="tt-image"><img width="80" height="80" src="{% static 'genysolutions/img/testimonials/testimonial1.png' %}" alt="team"></div>
                        <div class="tt-image"><img width="80" height="80" src="{% static 'genysolutions/img/testimonials/testimonial1.png' %}" alt="team"></div>
                        <div class="tt-image"><img width="80" height="80" src="{% static 'genysolutions/img/testimonials/testimonial1.png' %}" alt="team"></div>
                    </div>
                    <!-- END TESTIMONIALS IMAGE CAPTIONS -->
                    {% endblock %}
                </div>
            </div>
        </section>
        <!-- END TESTIMONIALS -->
        {% endblock %}

        {% block team %}
        <!-- TEAM -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <!-- TEAM HEADING -->
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Our team</h2>
                        <span class="separator"></span>
                        <p class="section-subheading ">Our team maintains an effective mix of development experience and seasoned leadership.</p>
                    </div>
                    <!-- END TEAM HEADING -->  
                </div>
                <div class="row outer-margin">
                    <!-- TEAM 1 -->
                    <div class="col-md-4 team-wrapper">
                        <div class="row team-member">
                            <img src="{% static 'genysolutions/img/team/team1.jpg' %}" alt="">
                            <div class="team-socials">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                            <div class="team-content">
                                <h5>Christopher Ogbuehi</h5>
                                <span class="team-subtitle">Co-Founder/Developer</span>
                                <p>Sports fan and food fanatic who dreams of quaility code</p>
                                <span class="triangle"></span>
                            </div>
                        </div>
                    </div>
                    <!-- TEAM 2 -->
                    <div class="col-md-4 team-wrapper">
                        <div class="row team-member team-member-down">
                            <div class="team-content">
                                <h5>Eric Smith</h5>
                                <span class="team-subtitle">Co-Founder/Developer</span>
                                <p>Enjoys solving hard problems that require elegant solutions</p>
                                <span class="triangle"></span>
                            </div>
                            <div class="team-socials">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                            <img src="{% static 'genysolutions/img/team/team1.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- TEAM 3 -->
                    <div class="col-md-4 team-wrapper">
                        <div class="row team-member">
                            <img src="{% static 'genysolutions/img/team/team3.jpg' %}" alt="">
                            <div class="team-socials">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                            <div class="team-content">
                                <h5>Leon Thompson</h5>
                                <span class="team-subtitle">UX Designer</span>
                                <p>Thinks devil is in the details, enjoys the finer things in life.</p>
                                <span class="triangle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END TEAM -->
        {% endblock %}

        {% block clients %}
        <!-- CLIENTS -->
        <section id="clients" class="gray-bg">
            <div class="container">
                <div class="slider">
                    <div class="clients-content">
                        <a href="//altruus.com"><img src="//logo.clearbit.com/altruus.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//luxuretv.com"><img src="//logo.clearbit.com/luxuretv.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="#"><img src="//logo.clearbit.com/luxottica.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//apstudynotes.org"><img src="//logo.clearbit.com/apstudynotes.org" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//apsu.edu"><img src="//logo.clearbit.com/apsu.edu" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//guardian.ng"><img src="//logo.clearbit.com/guardian.ng" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//dotloop.com"><img src="//logo.clearbit.com/dotloop.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//betterment.com"><img src="//logo.clearbit.com/betterment.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="//hopper.com"><img src="//logo.clearbit.com/hopper.com" alt=""></a>
                    </div>
                    <div class="clients-content">
                        <a href="#"><img src="//logo.clearbit.com/affirm.com" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CLIENTS -->
        {% endblock %}

        {% block subscribe %}
        <!-- SUBSCRIBE -->
        <section id="subscribe" class="parallax">
            <div class="container">
                <div class="row">
                    <h3>Subscribe to receive free updates!</h3>
                    <form class="subscribe-form" action="https://formspree.io/hello@genysolutions.co" method="post">
                        <input type="email" id="sub-email" placeholder="Enter Your Email" name="_replyto"/>
                        <input type="hidden" name="_subject" value="New submission from Gen Y!" />
                        <button type="submit">Go</button>
                        <div id="subscribe-success"></div>
                    </form>
                </div>
            </div>
        </section>
        <!-- END SUBSCRIBE -->
        {% endblock %}

        {% block contact %}
        <!-- CONTACT -->
        <section id="contact">
            <div class="contact-map-container">
                <!-- GOOGLE MAP-->
                <div id="map"></div>
            </div>
            <div class="container">
                <div class="contact-form-container">
                    <!-- CONTACT HEADING -->
                    <div class="row">
                        <h2 class="section-heading">Contact</h2>
                        <p class="section-subheading ">Leave your name, email, and a message and a team member will reach out to you soon.</p>
                    </div>
                    <!-- END CONTACT HEADING -->
                    <div class="row">
                        <!-- CONTACT FORM -->
                        <form name="sentMessage" id="contactForm" method="post" action="https://formspree.io/hello@genysolutions.co">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." name="_name">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group pull-right">
                                    <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address." name="_replyto">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group form-textarea">
                                    <textarea class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message." name="_message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">Send Message</button>
                                </div>
                            </div>
                        </form>
                        <!-- END CONTACT FORM -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTACT -->
        {% endblock %}

        {% block footer %}
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- UPPER FOOTER -->
                    <div class="upper-footer">
                        <div class="pull-left">
                            <a class="logo page-scroll" href="#page-top"><img src="{% static 'genysolutions/img/logo.png' %}" class="img-responsive" alt="" style="background-color:white;"></a>
                            <p>Next generation application & software development</p>
                        </div>
                        <div class="pull-right">
                            <ul class="footer-nav">
                                <li class="">
                                    <a class="page-scroll" href="#services">Services</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="#solutions">Solutions</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="#pricing">Pricing</a>
                                </li>
                                <li class="active">
                                    <a class="page-scroll" href="#team">Team</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="#clients">Clients</a>
                                </li>
                            </ul>
                            <ul class="footer-secondary-nav">
                                <li class="">
                                    <a class="page-scroll" href="#"><span class="fa fa-phone"></span>214-566-8710</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="#"><span class="fa fa-envelope"></span>hello@genysolutions.co</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="#"><span class="fa fa-map-marker"></span>1203 Wilshire ct, Allen TX, 75002</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END UPPER FOOTER -->
                    <!-- LOWER FOOTER -->
                    <div class="lower-footer">
                        <div class="pull-left">
                            <span>© 2016 Gen Y Solutions LLC. All rights reserved</span>
                            {% comment %}
                            <a href="#"> Terms of Service </a>
                            <a href="#"> Privacy Policy </a>
                            {% endcomment %}

                        </div>
                        <div class="pull-right">
                            {% comment %}
                            add social channels when ready
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                            <a href="#"><span class="fa fa-youtube"></span></a>
                            <a href="#"><span class="fa fa-pinterest"></span></a>
                            <a href="#"><span class="fa fa-skype"></span></a>
                            {% endcomment %}

                        </div>
                    </div>
                    <!-- END LOWER FOOTER -->
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
        {% endblock %}

        <!-- SCRIPTS -->
        <!-- jQuery & Bootstrap -->
        <script src="{% static 'genysolutions/js/jquery.js' %}"></script>
        <script src="{% static 'genysolutions/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'genysolutions/js/bootstrap.min.js' %}"></script>
        <!-- smoothscroll  -->
        <script src="{% static 'genysolutions/js/smoothscroll.js' %}"></script>
        <!-- piechart  -->
        <script src="{% static 'genysolutions/js/jquery.easytabs.min.js' %}"></script>
        <!-- tabs  -->
        <script src="{% static 'genysolutions/js/piechart.js' %}"></script>
        <!-- animated header -->
        <script src="{% static 'genysolutions/js/particles.js' %}" type="text/javascript"></script>
        <!-- sliders -->
        <script src="{% static 'genysolutions/js/owl.carousel.min.js' %}"></script>
        <!-- contact form -->
        <script src="{% static 'genysolutions/js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'genysolutions/js/classie.js' %}"></script>
        <!-- google map -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <!-- custom script -->
        <script src="{% static 'genysolutions/js/scripts.js' %}"></script>
    </body>
</html>
